.home-cont {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9dbd4;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.green-background-line {
  position: absolute;
  width: 100%;
  height: 8rem;
  background-color: #009688;
  top: 0;
}

.chat-big-cont {
  position: relative;
  height: 100%;
}

.content-home-cont {
  width: 73%;
  height: 95%;
  background-color: #f8f9fa;
}

/* --------------------------------- SIDEBAR ----------------------------------- */

.my-profile {
  background-color: #ededed;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.left-side {
  display: flex;
  align-items: center;
}

.right-side.active {
  background-color: #d5d5d5;
  border-radius: 50%;
}

.three-dots {
  font-size: 1.3rem;
  color: #51585c;
  cursor: pointer;
  margin: 0.5rem;
}

.profile-img-cont {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 2rem;
}

h5.my-profile-h5 {
  color: #51585c;
  cursor: pointer;
}

.search-cont {
  background-color: #f6f6f6;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: solid 1px #ebebeb;
}

.search-input {
  border: transparent;
  border-radius: 1.5rem;
}

.search-input.sidebar {
  height: 2rem;
}

.search-input.chat {
  height: 2.8rem;
  margin-left: 1rem;
}

.side-bar {
  background-color: white;
}

.single-chat-cont.row {
  margin: 0;
  width: 100%;
  height: 4rem;
  padding: 0.5rem 1rem;
  background-color: white;
}

.single-chat-cont.row:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.single-chat-cont.row.active {
  background-color: #ebebeb;
}

.separator-chats.m-0 {
  position: relative;
  bottom: -0.5rem;
}

.chat-img-cont.col-2 {
  height: 3rem;
  width: 3rem;
}

.contact-name.col-7 {
  font-size: 1.1rem;
  font-weight: 600;
}

.time-last-message.col-3 {
  font-size: 0.8rem;
  color: #666666;
}

.row.last-message {
  font-size: 0.9rem;
  color: #666666;
  padding-right: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chat-receiver-bar {
  width: 100%;
  height: 4rem;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  position: absolute;
  top: 0;
}

.chat-container.p-0.col-8 {
  border-left: solid 1px #e2e2e2;
}

.chat-messages-cont {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 4rem;
  padding-top: 4rem;
}

.chat-content-cont {
  height: 100%;
  width: 100%;
  background-color: #e5ddd5;
  padding-top: 4rem;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.bottom-input-text {
  width: 100%;
  height: 4rem;
  background-color: #ededed;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0.2rem 1.2rem;
}

.img-name-container,
.search-dots-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}

span.name-receiver {
  font-size: 1.1rem;
  font-weight: 400;
}

.search-dots {
  font-size: 1.2rem;
  color: #51585c;
  cursor: pointer;
  margin: 0.5rem;
}

.bottom-icons-bar {
  font-size: 1.6rem;
  color: #51585c;
}

.mic-input {
  font-size: 1.5rem;
  color: #51585c;
  margin-left: 1.5rem;
}

.received-message-cont {
  display: flex;
  align-items: flex-end;
}

.received-message {
  display: flex;
  width: fit-content;
  max-width: 55%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

svg.caret-left {
  position: relative;
  color: white;
}

.text-message {
  display: flex;
  align-items: flex-end;
}

.time-of-message {
  color: #8c8c8c;
  font-size: 0.7rem;
  display: flex;
  align-items: flex-end;
  position: relative;
  height: fit-content;
  margin-left: 0.5rem;
  bottom: -0.5rem;
}

.sended-message-cont {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.sended-message {
  display: flex;
  width: fit-content;
  max-width: 55%;
  height: fit-content;
  background-color: #dcf8c6;
  border-radius: 10px;
  position: relative;
}

.caret-right {
  color: #dcf8c6;
}

.check-gray {
  color: #8c8c8c;
  display: flex;
  align-items: flex-end;
  position: relative;
  height: fit-content;
  margin-left: 0.2rem;
  bottom: -0.5rem;
}

.check-blue {
  color: #4fc3f7;
  display: flex;
  align-items: flex-end;
  position: relative;
  height: fit-content;
  margin-left: 0.2rem;
  bottom: -0.5rem;
}

.day-of-message-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-of-message {
  width: fit-content;
  height: 2rem;
  background-color: #e1f3fb;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.dropdown-container {
  width: 10rem;
  height: fit-content;
  position: absolute;
  right: 0.5rem;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  z-index: 2;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-container.chat {
  top: 3rem;
  right: 0;
}

.dropdown-links {
  padding: 0.7rem 1.5rem;
  color: #51585c;
  font-size: 0.9rem;
}

a.dropdown-links {
  display: block;
}

.dropdown-links:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.chat-cont-without-selected-chat{
  width: 100%;
  height: 100%;
  background-color: #F8F9FA;
}
/* --------------------------- SETTINGS ------------------------------ */
.side-bar {
  background-color: #ededed;
  height: 100%;
}

.top-bar-settings {
  width: 100%;
  height: 6.5rem;
  background-color: #00bfa5;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.arrow-icon-setting {
  font-size: 1.5rem;
  color: white;
  margin-right: 1.6rem;
}

.profile-setting-span {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.img-settings-cont {
  width: 100%;
  height: fit-content;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hover-img-cont {
  width: auto;
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
}

.hover-img-cont img {
  height: 100%;
  opacity: 0;
}

.hover-img-cont:hover {
  opacity: 1;
  cursor: pointer;
}

.hover-change-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.camera-icon {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0.5rem;
}

.change-pic-text {
  color: white;
  text-align: center;
}

.other-fields-cont {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-container {
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
}

.inputs-label {
  color: #00bfa5;
  margin-bottom: 0.6rem;
}

input.input-field {
  border: transparent;
  border-bottom: solid 2px #00bfa5;
}

input.input-field:focus-visible {
  outline: none;
}
